img {
    width: 100%;
}

.christmas {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 165px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.eva {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 100px;
    line-height: 100px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #999999;
    font-size: 22px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

/* hello */
article {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
    line-height: 1.9;
    text-align: center
}

small {
    color: crimson;
}

.zoom:hover {
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari 3-8 */
    transform: scale(2.5);
    position: absolute;
    z-index: 1;
}

.zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#footerText {
    color: white;
}

#kontaktText {
    text-align: center;
}

.stats-container {
    background-color: #212121;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    color: #fff;
    margin-top: 65px;
}

.stat-value {
    font-size: 30pt;
    color: #eb212d;
    font-weight: bold;
    line-height: 1.1;
    display: block;
}

.stat-name {
    font-size: 12pt;
    padding-top: 20px;
    display: block;
    color: #dbdbdb;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}
/*.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: contour;
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 26px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px
    }

    p {
        font-size: 12px
    }

}