<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CENÍK</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Úvod</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/omne">O Mně</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/feedback">Feedback</a></li>
                        <li><a class="dropdown-item" href="/cenik">Ceník</a></li>
                        <li><a class="dropdown-item" href="/kosik">Košík</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a href="https://www.facebook.com/eva.frysova" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </div>
</nav>
<div class="container">
    <h1>Ceny fotoslužeb Eva Benešová fotografka Hradec Králové:</h1>
    <div class="jumbotron jumbotron-fluid p-3 mb-2 bg-transparent text-dark">
        <div class="container">
            <h1 class="display-4"><strong>Rodinné focení</strong><br>1 800 Kč<br><small>1 hodina</small></h1>
            <p class="lead">Cena již obsahuje kompletní služby nejvyšší kvality. Přibližně 1 hodina focení v ateliéru/u
                Vás doma. Cestovné v Hradci Králové a okolí zdarma. 5ks upravených fotek v tiskovém rozlišení dle Vašeho
                výběru</p>
            <hr class="my-4">
            <p>Pokud máte zájem, neváhejte mě <a href="/kontakt">kontaktovat</a>.</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">Více informací k tomuto typu focení zde
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <article>
                        <h5>KDY NECHAT VYFOTIT DĚTI</h5>
                        <h6>newborn....</h6>
                        <p>Nejlepší věk pro focení newborn je cca od narození -15 dní jejich života! V této době miminka
                            ještě hodně spinkají . Čím je miminko starší, tak uspávání je někdy hodně zdlouhavé a
                            náročné. Focení newborn trvá někdy i tři hodiny. Je třeba se na to připravit a s touto dobou
                            počítat. Objednávky je třeba uskutečnit už v době těhotenství. Dalším "ideálním" obdobím
                            miminka je cca</p>
                        <h6>3 - 6 měsíce...</h6>
                        <p>Kdy už reagují na hlasy, rodiče, hrkačky atd.. Doporučuji počkat na období, když už pasou i
                            koníky.. aby fotky byly pestřejší. Berte prosím v úvahu objednávací dobu, která činí 1-3
                            měsíce, než se focení uskuteční.</p>
                        <h6>8 - 12 měsíců...</h6>
                        <p>Toto období je pro mě asi nejoblíbenějším ze všech. V tomto věku děti dokážou udělat z fotky
                            to co já mám na tom nejraději-bezprostřednost.Umí vykouzlit krásný úsměv, úšklebky,
                            laškování a fotky jsou tím hodně rozmanité.Děti už umí většinou sedět, některé stát s i bez
                            opory, ale ještě nám neutíkají :-)!</p>
                        <h6>1 - 3 roky....</h6>
                        <p>Dalším mým velmi oblíbeným ač náročným obdobím je věk 1-3roky. V tomto věku se na focení
                            projevuje jejich malá osobnost, tak né vždy dělají to co mi si přejeme a chceme :-).Ony
                            přece nebudou sedět na jednom místě, rozdávat úsměvy na všechny strany :-D.Někdy to je velmi
                            náročné a je třeba se obalit trpělivostí. Na druhou stranu fotky jsou v tomto věku dle mého
                            pohledu jedny z nejhezčích a kolikrát až sama doma vidím co vše kouzelného z toho vyjde :-).
                            Tady platí pravidlo-úplatky s sebou (pamlsky, křupky...)</p>
                        <h6>3 a více ...</h6>
                        <p>V období 3 a více let je to hodně individuální dle povahy dítka, ale většinou focení je už
                            úplně bez problémové a všichni si to moc užijeme. I tady nezapomeňte na nějaké pamlsky a
                            dobrůtky. Tady je i hodně důležitá volba co s sebou. I zde se už řídím v jednoduchosti je
                            krása. Více viz. Informace co s sebou...</p>
                        <p>Doufám, že jsem Vám, alespoň trochu pomohla či usnadnila rozhodnutí, kdy focení uskutečnit v
                            případě jakýchkoliv informací mě neváhejte <a href="/kontakt">kontaktovat</a>.</p>

                        <h5>Informace co s sebou</h5>
                        <h6>Newborn</h6>
                        <p>Na novorozenecké focení není potřeba si nosit oblečení, oblečky jsou k zapůjčení v ateliéru.
                            Stále doplňuji nové rekvizity a oblečky pro naše nejmenší. Nezapomeňte vzít dudlik, i když
                            není miminko zvyklé, někdy nám hodně pomůže.</p>
                        <h6>Děti</h6>
                        <p>Pokud máte něco oblíbeného například oblíbené oblečení, hračky, autíčka,plyšáky, panenky
                            apod., klidně i čepičky, zimní kulichy, kufříky, doplňky... Prostě co Vás napadne, máte rádi
                            a na co chcete mít památku. Já něco mám, tak připravím a můžeme sáhnout jak po mých, tak i
                            po Vašich věcičkách. U chlapečků doporučuji oblíbené rifličky a bílé triko, či košili +
                            různé košile a jednobarevná trika. Většinou se stihnou 3-4 převleky.</p>
                        <h6>Těhulky</h6>
                        <p>Pohodlné a oblíbené oblečení (tuniky, šaty, spodní prádlo, šály). Moc hezké je třeba sladit
                            více doplňků. Např. černé triko a černé náušnice... Ultrazvuk, capáčky, hračky pro očekávané
                            miminko, šatičky či nějaký obleček pro miminko. Čím víc tím líp, ať je z čeho vybírat.</p>
                        <h6>Více lidí (rodina, sourozenci...)</h6>
                        <p>Doporučuji barevně stejné oblečení, či něco podobného. Tady razím pravidlo! V jednoduchosti
                            je krása.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="DSC_0510s.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_9790d.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_9813dd.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_9871d.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 mb-2 bg-transparent text-dark">
        <div class="container">
            <h1 class="display-4"><strong>Portrétní fotografie</strong><br>2 100 Kč<br><small>2 hodiny</small></h1>
            <p class="lead">Cena již obsahuje kompletní služby nejvyšší kvality. Přibližně 2 hodiny focení v
                ateliéru/exteriéru/u Vás doma. Cestovné v Hradci Králové a okolí zdarma. 3ks vyretušovaných a upravených
                fotek v tiskovém rozlišení dle Vašeho výběru.</p>
            <hr class="my-4">
            <p>Pokud máte zájem, neváhejte mě <a href="/kontakt">kontaktovat</a>.</p>
        </div>
    </div>
    <div id="carouselExampleFade1" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="DSC_0036.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="11540200.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_0304.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_0227.JPG" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div class="jumbotron jumbotron-fluid p-3 mb-2 bg-transparent text-dark">
        <div class="container">
            <h1 class="display-4"><strong>Svatební focení</strong><br>17 000 Kč<br><small>celodenní focení</small></h1>
            <p class="lead">Žádné balíčky. Cena již obsahuje kompletní služby nejvyšší kvality. Osobní schůzka v ceně.
                Budu s vámi tak dlouho, jak mě budete potřebovat. Cestovné v Hradci Králové a okolí zdarma. Sleva 2000
                Kč na předsvatební focení. Možnost zapůjčení instaxu</p>
            <hr class="my-4">
            <p>Pokud máte zájem, neváhejte mě <a href="/kontakt">kontaktovat</a>.</p>
            <p>
        </div>
    </div>
    <div id="carouselExampleFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="DSC_8712.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_9739.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_9772.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="DSC_9779.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade2" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade2" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
<br>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid contact-container">
        <div class="container">
            <div id="footerText" class="row">
                <div class="col-xs-12 col-md-3">
                    <a href="https://www.facebook.com/eva.frysova"><i style="font-size:48px;color: white" class="fa">&#xf082;</i></a>
                    <a href="https://www.instagram.com/"><i style="font-size:48px;color: white" class="fa">&#xf16d;</i></a>
                </div>
                <div class="col-xs-12 col-md-3">
                    <p>+420 777 054 174 <br><small>zavolejte mi</small></p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <p>Nyklíčkova 192, Opatovice nad Labem <br><small>stavte se na kafe</small></p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <p>ebenesova123gmail.com <br><small>napište mi</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>