<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KOŠÍK</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <a href="/">Úvod</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/kontakt">Kontakt</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/omne">O Mně</a>
            <a href="/feedback">Feedback</a>
            <a href="/cenik">Ceník</a>
            <a href="/kosik">Košík</a>
        </div>
    </div>
</div>
<h1>KOŠÍK</h1>
</body>
</html>